<!DOCTYPE html>
<html>

<head>
  <title>Mouse SNP Wizard</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="icon" href="/images/rainbow-loading.gif" type="image/gif">
</head>

<body>
  <div class="container">
    <h1 class="title">Mouse SNP Wizard</h1>
    <form action="/search" method="GET">
      <div class="radio-option">
        <input type="radio" id="search-all" name="searchBy" value="all" onclick="showFields()">
        <label for="search-all">Search Entire Genome</label>
      </div>
      <div class="radio-option">
        <input type="radio" id="search-by-symbol" name="searchBy" value="symbol" onclick="showFields()" checked>
        <label for="search-by-symbol">Search by Gene Symbol</label>
      </div>
      <div class="radio-option">
        <input type="radio" id="search-by-position" name="searchBy" value="position" onclick="showFields()">
        <label for="search-by-position">Search by Genomic Position</label>
      </div>
      <br />
      <div id="symbol-input" style="display: none;">
        <label for="gene-symbol">Gene Symbol:</label><br>
        <input type="text" id="gene-symbol" name="symbol" oninput="checkFields()" list="language-options"><br>

        <datalist id="language-options">
        </datalist>
      </div>
      <div id="position-inputs" style="display: none;">
        <label for="chromosome">Chromosome:</label><br>
        <select id="chromosome" name="chromosome" oninput="checkFields()">
          <option value="">Select...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="X">X</option>
          <option value="Y">Y</option>
        </select>
        <br>
        <label for="start-position">Start Position:</label><br>
        <input type="text" id="start-position" name="startPosition" oninput="formatInput(event)"><br>
        <label for="end-position">End Position:</label><br>
        <input type="text" id="end-position" name="endPosition" oninput="formatInput(event)"><br>
      </div>
      <h3>Consequences:</h3>
      <div id='buttonGroup' style='display: flex; justify-content: flex-start;'>
        <button type='button' id='selectAll'>All</button>
        <div style="width: 10px;"></div>
        <button type='button' id='selectHighImpact'>High Impact</button>
        <div style="width: 10px;"></div>
        <button type='button' id='deselectAll'>None</button>
      </div>
      <br>
      <div id='consequences' style='display: flex; flex-wrap: wrap;'>

      </div>

      <h3>Strains:</h3>
      <div id='buttonGroup' style='display: flex; justify-content: flex-start;'>
        <button type='button' id='selectAllStrains'>All</button>
        <div style="width: 10px;"></div>
        <button type='button' id='selectDOMice'>DO Mice</button>
        <div style="width: 10px;"></div>
        <button type='button' id='deselectAllStrains'>None</button>
      </div>
      <br>
      <div class='confidence-group' style='flex: 25%;'>
        <input type="checkbox" id="high-confidence-only" name="highConfidence" value="true">
        <label for="high-confidence-only">High Confidence Only</label><br>
      </div>
      <br>


      <div id='strains' style='display: flex; flex-wrap: wrap;'>

      </div>
      <input type="submit" id="search-button" value="Search">
    </form>
  </div>
  <input type="hidden" id="consequenceNames" name="consequenceNames" value="<%= consequenceNames %>">
  <input type="hidden" id="strainNames" name="strainNames" value="<%= strainNames %>">
</body>

<script rel="text/javascript" src="/home.js"></script>

</html>